body{
  background-color: #161617;
  font-size:12px;
  margin: 40px 80px;
  color: white;
  font-family: 'Playfair Display',sans-serif;
}

.Scene{
  margin: 32px 40px;
}

.App {
  text-align: center;
}

.z-3{
  z-index:3;
}

.z-2{
  z-index: 2;
}

.z-1{
  z-index:1;
}

.pic-item{
  margin: 24px;
  transition: 1.2s;
  padding-right: 0!important;
  padding-left: 0!important;
}

.pic-item img{
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.Pics li:first-child{
  margin-left: 0px;
  flex-grow: 1;
}

.row{

}

.Nav{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12px;
    display: block;
    z-index: 10;
    padding: 12px 24px;
    border-bottom: 1px solid white;
    height:12px;
    text-transform: uppercase;
}


.Nav a{
  text-decoration: none;
  color: white;
  letter-spacing: .3pt;
  padding-left: 8px;
  cursor: pointer;
}

.Nav a:hover{
  text-decoration: underline;
}

#Buttons{
  background-color: blue;
}


#Buttons a{
  font-family: Ubuntu Mono,monospace;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: .4pt;
  outline: 0;
  padding: 16px 0;
  text-align: center;
  width: 50%;
  background-color: rgba(0,0,0,.2);
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}


#Buttons a:hover{
  cursor: pointer;
  outline: 0;
  background-color: #3860f0;
  color: #fff;
  transition: background-color .3s linear;
  font-weight: 400;
}


.lowopacity{
  float:left;
}

.left{
  float:left;
}

.right{
  float:right;
}


.Copy{
  background-color: rgba(0, 0, 0, .8);
  color: white;
  border: 3px solid black;
  z-index: 1;
  /*box-shadow: 2px 2px 40px 2px rgba(0,0,0,.1);*/
  font-family: 'Ubuntu Mono', monospace;
  padding: 0px !important;
  text-align: center;
}

.End{
  background-color: black !important;
  color: white !important;
  text-align: center !important;
}

.End p:hover{
  background-color: black !important;
}

.End .Title{
  background-color: #E0391B !important;
  color: white !important;
}

.Title{
  font-family: 'Ubuntu Mono', monospace;
  color: #211b10;
  /* background-color: #211b10; */
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 16px 0px;
  background-color: #F0C838;
  border-bottom: 2px solid black;
  cursor: crosshair;
  font-weight: bold;
  line-height: 1.2em;
}


.Copy p{
  padding: 32px;
  font-size: 16px;
  line-height: 1.6em;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  font-weight: 400;
}

/*
.Copy p:hover{
  background-color:rgba(255,255,255,.8);
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}*/




/* Images fade */

.fade-enter, .fade-appear {
  opacity: 0;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 700ms ease-in 200ms;
}

.fade-leave {
  opacity: 1;
  position: relative;
}

.fade-leave.fade-leave-active {
  position: relative;
  top: 0;
  opacity: 0;
  transition: opacity 0ms ease-in;
}

/* Copy fade */

.copyfade-enter, .copyfade-appear {
  opacity: 0;
}

.copyfade-enter.copyfade-enter-active, .copyfade-appear.copyfade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in 1s ;
}

.copyfade-leave {
  opacity: 1;
  position: absolute;
}

.copyfade-leave.copyfade-leave-active {
  position: absolute;
  opacity: 0;
  transition: opacity 0ms 0s ease-out ;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 500px) {

  .row.z-2{
    position: absolute;
    top: 35%;
    width: 90%;

    }

  .row.z-1{
    margin-left: -150px;
    display: -webkit-box !important;
  }

  .Copy p{
    padding: 24px;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    font-weight: 400;
  }

  .pic-item{
    transition: 1.2s cubic-bezier(.03,.98,.52,.99);
    padding-right: 0!important;
    padding-left: 0!important;
    margin-left: -180px;
    margin: 0px;
  }


}
